body {
  font-family: sans-serif;
  background-color: black;
  margin: 20px;
  padding: 0;
}

.board {
  box-shadow: 0px 0px 10px 5px aqua;
  width: fit-content;
}

.square {
  background: transparent;
  border: 2px solid aqua;
  color: aqua;
  float: left;
  font-family: cursive;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-size: 30px;
  color: aqua;
  margin-bottom: 100px;
}
